<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <section class="container">
      <%- include('partials/nav.ejs') %>

      <article class="content">
        <h2>Como podemos ajudar?</h2>

        <img src="img/quem-somos.jpg" alt="Imagem da equipe" />

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sint
          expedita enim cupiditate sed voluptatibus ducimus vitae reprehenderit
          neque dolor dolorem minus, iste, asperiores ratione? Facere architecto
          minus nesciunt magnam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sint
          expedita enim cupiditate sed voluptatibus ducimus vitae reprehenderit
          neque dolor dolorem minus, iste, asperiores ratione? Facere architecto
          minus nesciunt magnam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sint
          expedita enim cupiditate sed voluptatibus ducimus vitae reprehenderit
          neque dolor dolorem minus, iste, asperiores ratione? Facere architecto
          minus nesciunt magnam.
        </p>
      </article>
    </section>
    <%- include ('partials/footer.ejs') %>
    <%- include ('partials/foot.ejs') %>  </body>
</html>
