<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include("./partials/navbar.ejs") %>

    <form action="/edit/<%= user._id %>" method="POST">
      <div>
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" placeholder="Digite seu nome." value="<%= user.name %>">
      </div>
      <div>
        <label for="age">Idade</label>
        <input type="number" name="age" id="age" placeholder="Digite sua idade." value="<%= user.age %>">
      </div>
      <div>        
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" placeholder="Digite seu e-mail." value="<%= user.email %>">
      </div>

      <button type="submit">Editar</button>
    </form>

    <% if( typeof message !== "undefined" ) { %>
      <br><br>
      <%= message %>
    <% } %>

    <%- include("./partials/foot.ejs") %>
  </body>
</html>